body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

.searchImg {
  width: 50px;
  height: 50px;
  align-content: left;
  magin-left: 1px;
  magin-right: 5px;
}

.searchPrice {
  text-align: right;
  color: green;
  font-size: large;
  margin-left: 8px;
  magin-right: 1px;

}

.searchPrice:hover {
  color: darkgreen;
  font-size: larger;
}

.productSearchName {
  text-align: center;
  color: indigo;
  font-size: larger;
  margin-left: 5px;
  magin-right: 5px;
}