.productItem {
	border: #337ab7 solid 3px;
	border-radius: 4px;
	margin: 5px 10px;
	height: 115px;
	width: 90%;
}

.productImage {
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
}

.productInfo {
	display: inline-table;
}

.catalogButton {
	float: right;
	margin: 15px 15px 15px 20px;
}

.categoryH3 {
	margin-top: 0px;
	color: white;
}

.categorySelector {
	margin-left: 10px;
}

.deleteButton {
	margin-left: 15px;
}