.productItem {
	border: #337ab7 solid 3px;
	border-radius: 4px;
	margin: 5px 10px;
	height: 135px;
	width: 90%;
}

div#order{
	border: #337ab7 solid 3px;
	border-radius: 4px;
	margin: 5px 10px;
	width: 40%;
}




.productImage {
	height: 120px;
	width: 120px;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
}

.productInfo {
	display: inline-table;
}

.catalogButton {
	float: right;
	margin: 15px 15px 15px 20px;
}

.categoryH3 {
	margin-top: 0px;
	color: white;
}
.icon-bar {
	width: 20%; /* Full-width */
	background-color: #555; /* Dark-grey background */
	overflow: auto; /* Overflow due to float */
}

.fa-star {
	color: orange
}

.fa-star-half-o {
	color: orange
}

.icon-shopping-cart {
	color: teal
}

.icon-bar a {
	float: left; /* Float links side by side */
	text-align: center; /* Center-align text */
	width: 20%; /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
	transition: all 0.3s ease; /* Add transition for hover effects */
	color: white; /* White text color */
	font-size: 4px; /* Increased font size */
}
.categorySelector {
	margin-left: 10px;
}

.deleteButton {
	margin-left: 15px;
}
.react-autosuggest__container {
	position: relative;
}

.react-autosuggest__input {
	width: 240px;
	height: 30px;
	padding: 10px 20px;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	border: 1px solid #aaa;
	border-radius: 4px;
}

.react-autosuggest__input--focused {
	outline: none;
}


.react-autosuggest__input--open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
	display: none;
}

.react-autosuggest__suggestions-container--open {
	display: block;
	position: absolute;
	top: 51px;
	width: 280px;
	border: 1px solid #aaa;
	background-color: #fff;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 14px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	z-index: 2;
}

.react-autosuggest__suggestions-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.react-autosuggest__suggestion {
	cursor: pointer;
	padding: 5px 10px;
}

.react-autosuggest__suggestion--highlighted {
	background-color: powderblue;
}

.react-autosuggest__section-container {
	border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
	border-top: 0;
}

.react-autosuggest__section-title {
	padding: 5px 0 0 5px;
	background-color: black;
	font-size: 12px;
	color: white;
	font-weight: 900;
	text-align: center;
}

.black-label {
	background-color: black
}

#subtitle {
	text-align: right;
	font-size: 16px;
	color: teal;
}

input[type=text] {
	width: 230px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	margin-top: 25px;
	height: 45px;
	background-color: white;
	background-image: url('smSearch.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
	width: 400px;
}

