.productItem {
	border: #337ab7 solid 3px;
	border-radius: 4px;
	margin: 5px 10px;
	height: 135px;
	width: 90%;
}

div#order{
	border: #337ab7 solid 3px;
	border-radius: 4px;
	margin: 5px 10px;
	width: 40%;
}

.productImage {
	height: 120px;
	width: 120px;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
}

.productInfo {
	display: inline-table;
}

.catalogButton {
	float: right;
	margin: 15px 15px 15px 20px;
}

.category
{
	margin-top: 0px;
	color: white;
}
.icon-bar {
	width: 20%; /* Full-width */
	background-color: #555; /* Dark-grey background */
	overflow: auto; /* Overflow due to float */
}

.fa-star {
	color: orange
}

.fa-star-half-o {
	color: orange
}

.icon-shopping-cart {
	color: teal
}

.icon-bar a {
	float: left; /* Float links side by side */
	text-align: center; /* Center-align text */
	width: 20%; /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
	transition: all 0.3s ease; /* Add transition for hover effects */
	color: white; /* White text color */
	font-size: 4px; /* Increased font size */
}
.categorySelector {
	margin-left: 10px;
}

.deleteButton {
	margin-left: 15px;
}
.react-autosuggest__container {
	position: relative;
}

.react-autosuggest__input {
	width: 240px;
	height: 30px;
	padding: 10px 20px;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	border: 1px solid #aaa;
	border-radius: 4px;
}

.react-autosuggest__input--focused {
	outline: none;
}


.react-autosuggest__input--open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
	display: none;
}

.react-autosuggest__suggestions-container--open {
	display: block;
	position: absolute;
	top: 51px;
	width: 280px;
	border: 1px solid #aaa;
	background-color: #fff;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	z-index: 2;
}

.react-autosuggest__suggestions-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.react-autosuggest__suggestion {
	cursor: pointer;
	padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
	background-color: powderblue;
}

.react-autosuggest__section-container {
	border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
	border-top: 0;
}

.react-autosuggest__section-title {
	padding: 5px 0 0 5px;
	background-color: lightgrey;
	font-size: 12px;
	color: black;
}

.black-label {
	background-color: #5bc0de;
	padding: 1em;
}

#subtitle {
	text-align: right;
	font-size: 16px;
	color: teal;
}

.row {
	margin-right: 0;
	margin-right: 0;
}

input[type=text] {
	width: 230px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	margin-top: 25px;
	height: 45px;
	background-color: white;
	background-image: url('smSearch.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
	width: 400px;
}
/* */
*{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
/*body{*/
	/*padding:0;*/
	/*margin:0;*/
	/*background: url(https://subtlepatterns.com/patterns/scribble_light.png) #FFF;*/
	/*font-size:62.5%;*/
	/*font-family: 'Open Sans', sans-serif;*/
/*}*/
/*img{*/
	/*max-width: 100%;*/
/*}*/
#wrap{
	width:90%;
	margin:20px auto;
}
#accordian{
	width:100%;
}
#accordian .number{
	width:50px;
	height:50px;
	background:#fff;
	color:#888;
	font-size:36px;
	text-align: center;
	border-radius:50%;
	float:left;
}
#accordian .step{
	width:100%;
	height:63px;
	background:lightgray;
	color:#FFF;
	padding-left:1%;
	padding-top:5px;
	border-bottom:3px solid #d9d9d9;
	border-radius:2px;
	float:left;
}
#accordian .title{
	float:left;
	width:80%;
	height:50px;
	margin-left:1%;
	font-size:1em;
	font-weight:300;
}
#accordian .title h1{
	font-size:1em;
	font-weight:400;
	margin-top:10px;

}
#accordian .modify{
	float:left;
	width:40px;
	height:40px;
	color:#aaa;
	background:#FFF;
	text-align:center;
	font-size:4em;
	border-radius:50%;
	margin-top:5px;
	padding-top:0px;
	cursor:pointer;
}
#accordian .modify i{
	margin-top: -10px;
	margin-left: -1px;
	display:block;
}
#accordian .content{
	padding:2em 2em;
	width:100%;
	margin:0 auto;
	background:#FFF;
	height:auto;
	display:block;
	float:left;
}
#accordian .content label{
	font-size:1em;
}
#accordian .content input{
	padding:10px 15px;
	border:1px solid #ccc;
	border-radius:3px;
	display:inline-block;
	font-size: 1em;
}
/*#accordian .content button{*/
	/*display:block;*/
	/*float:right;*/
	/*background:#80c0ff;*/
	/*width:200px;*/
	/*border:0;*/
	/*padding:5px 15px;*/
	/*font-size:1.6em;*/
	/*color:#FFF;*/
	/*border-bottom:3px solid #4da7ff;*/
	/*border-radius:2px;*/
	/*clear:both;*/
/*}*/
#accordian .content .continue{
	display:block;
	float:right;
	background:#80c0ff;
	width:200px;
	border:0;
	padding:5px 15px;
	font-size:1.6em;
	color:#FFF;
	border-bottom:3px solid #4da7ff;
	border-radius:2px;
	clear:both;
	text-align:center;
	text-decoration: none;
	margin-top:15px;
}
#accordian #address label{
	width:100px;
	display:inline-block;
}

#accordian .select{
	width: 100%;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 2px;
	display: inline-block;
	margin-left:0;
	margin-bottom: 5px;
	margin-top:5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: inline-block;
	font-size: 1em;
}
#accordian .country_options label,
#accordian .state_options label{
	background: #80c0ff;
	color: white;
	padding: 4px 6px;
	z-index: 2;
	text-transform: uppercase;
	top: 5px;
	right: 100%;
	width: 100%;
	margin-right: -100%;
	bottom: 8px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}
#accordian .state_options select,
#accordian .country_options select{
	background: transparent;
	display:inline-block;
	width: 100%;
	padding: 5px;
	font-size: 1em;
	line-height: 1;
	border: 0;
	border-radius:0;
	height: 40px;
}
#accordian #address label.state,
#accordian #address label.country{
	display:block;
	float:left;
}
#accordian #address input[type="checkbox"]{
	width:30px;
}
#accordian #address label.same,
form.go-right input:focus + label.same{
	width:300px;
	padding:0 30px;
	margin-right:0;
	top:0;
	left:30px;
	background:transparent;
	color:initial;
	text-transform:uppercase;
}
#accordian #shipping input[type="radio"]{
	width:30px;
}
#accordian #shipping div{
	margin-top:5px;
}
#accordian #shipping label{
	padding:0;
	display: inline
}
#accordian #shipping .price{
	text-align:center;
	display:inline-block;
}
#accordian #payment #card_number{
	width:100%;
}
#accordian .left,
#accordian .right{
	width:50%;
	float:left;
}
#accordian #payment label{
	display:inline-block;
}
#accordian #payment .expiry{
	margin-top:5px;
}
#accordian #payment label.exp_date{
	margin-right:0;
	background: #80c0ff;
	color: white;
	padding: 4px 6px;
	z-index: 2;
	text-transform: uppercase;
	right: 100%;
	width: 100%;
	margin-right: -100%;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	width:70px;
	height:40px;
	top:5px;
}
#accordian #payment .month_select,
#accordian #payment .year_select{
	width: 100px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 2px;
	display: inline-block;
}
#accordian #payment span.divider{
	font-size: 2em;
	display: inline-block;
	padding-left:5px;
	padding-right:5px;
	margin-top:-10px;
}
#accordian .month_select select,
#accordian .year_select select{
	background: transparent;
	display:inline-block;
	width: 100%;
	padding: 5px;
	font-size: 1em;
	line-height: 1;
	border: 0;
	border-radius:0;
	height: 40px;
}
#accordian #payment .sec_num,
#accordian #payment .expiry{
	display:block;
	float:left;
}
#accordian #payment .sec_num{
	margin-top:5px;
}
#accordian .credit_card{
	padding:3em 1em;
}
#accordian #payment .sec_num input{
}
#accordian .accepted{
	width:100%;
	padding-right:1em;
	padding-left:1em;
	margin-top:30px;
}
#accordian .accepted span{
	display: table-cell;
	padding:3px;
}
#accordian .secured {
	margin-top:5px;
	padding-left:1em;
	padding-right:1em;
}
#accordian .secured .lock{
	float:left;
	padding:3px;
	width:25%;
}
#accordian .secured .security{
	float:left;
	margin-right:5px;
	font-style: italic;
	color:#aaa;
	width:70%;
}
#accordian #ordered{
	padding-right:1em;
}
#accordian #reviewed{
	padding-left:1em;
}
#accordian .products{
	width:100%;
	float:left;
	padding-bottom:3px;
	border-bottom:3px solid #aaa;
}
#accordian .products .product_image{
	width:20%;
	float:left;
	margin-left: 10%;
}
#accordian .products .product_details{
	width:70%;
	display: table;
	vertical-align: middle;
}
#accordian .products .product_details span{
	display:table-cell;
	vertical-align: middle;
	margin-top:30%;
	font-size: 1.5em;
	color:#aaa;
}
#accordian .totals{
	width:100%;
	float:left;
	border-bottom:3px solid #aaa;
}
#accordian .totals .subtitle{
	font-size:2em;
	display:block;
	text-align: right;
	color:#aaa;
	width:95%;
	margin-right:5%;
}
#accordian .totals .subtitle .sub_price{
	font-style:italic;
	width:100px;
}
#accordian .final{
	width:100%;
	float:left;
	font-size:2.2em;
	text-align: right;
	color:#888;
}
#accordian .final .title{
	width:95%;
	margin-right:5%;
	font-weight:bold;
}
#accordian #reviewed .title{
	width:49%;
	font-size:1.8em;
	float:left;
}
#accordian #reviewed .billing,
#accordian #reviewed .shipping{
	width:100%;
	float:left;
	margin-bottom:5px;
}
#accordian #reviewed .billing .address_reviewed,
#accordian #reviewed .shipping .address_reviewed,
#accordian #reviewed .payment .payment_reviewed{
	color:#aaa;
	font-size:1.2em;
	height:80px;
	width:50%;
	float:left;
}
#accordian #reviewed .billing .address_reviewed span,
#accordian #reviewed .shipping .address_reviewed span,
#accordian #reviewed .payment .payment_reviewed span{
	display:block;
}
#accordian #reviewed #complete{
	float:left;
	width:100%;
	padding-top:5px;
	border-top:1px dotted #aaa;
	margin-top: 3em
}
/*#accordian #reviewed .big_button{*/
	/*clear:both;*/
	/*display:block;*/
	/*width:70%;*/
	/*margin:0 auto;*/
	/*padding-top:15px;*/
	/*padding-bottom:10px;*/
	/*color:#fff;*/
	/*font-size:2em;*/
	/*text-decoration: none;*/
	/*background:#80c0ff;*/
	/*text-align:center;*/
	/*border-bottom: 3px solid #4da7ff;*/
	/*border-radius: 2px;*/
/*}*/

#accordian #reviewed #complete .sub{
	color:#aaa;
	display:block;
	text-align:center;
	margin-top:15px;
	width:80%;
	margin:5px auto;
}
@media(max-width:768px){
	#accordian .left, #accordian .right {
		width: 100%;
		float: left;
	}
}
form > div {
	position: relative;
	overflow: hidden;
	width:100%;
	max-width:320px;

}
form input, form textarea {
	width: 100%;
	max-width:320px;
	border: 2px solid gray;
	background: none;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 8px 12px;
	outline: 0;
}
form input:valid, form textarea:valid {
	background: white;
}
form input:focus, form textarea:focus {
	border-color: #f06d06;
}
form input:focus + label, form textarea:focus + label {
	background:#80c0ff;
	color: white;
	font-size: 70%;
	padding: 1px 6px;
	z-index: 2;
	text-transform: uppercase;
}
form label {
	transition: background 0.4s, color 0.4s, top 0.4s, bottom 0.4s, right 0.4s, left 0.4s;
	position: absolute;
	color: #999;
	padding: 7px 6px;
}
form textarea {
	display: block;
	resize: vertical;
}

form.go-right label {
	top: 2px;
	right: 100%;
	width: 100%;
	margin-right: -100%;
	bottom: 2px;
	border-bottom-right-radius:3px;
	border-top-right-radius:3px;
}
form.go-right input:focus + label, form.go-right textarea:focus + label {
	right: 0;
	margin-right: 0;
	width: 40%;
	padding-top: 5px;
}

@media screen and (max-width:600px){
	#accordian #address label{
		display:none;
	}

	#accordian #address input[type=checkbox] {
		outline: none;
		width: 90%;
		height: 35px;
		font-size: 12px;
		line-height: 2;
		display: block;
		font-weight: bold;
		border: 1px solid #e6e6e6;
		-webkit-appearance: none;
		color: #FFFFFF;
		cursor:pointer;
		border-radius:15px;
		transform: scale(1);
		-webkit-transform: scale(1);
		transition: all .3s ease-out;
		padding:0;
	}

	#accordian #address input[type=checkbox]:checked {
		color: #fff;
		background:#FFF;
		border-radius:15px;
	}

	#accordian #address input[type=checkbox]:before {
		content: 'Ship to Other Address';
		width: 50%;
		height:100%;
		padding-top:3px;
		display: inline-block;
		text-indent: 13px;
		background:#80c0ff;
		border-radius:15px;
		transition: all 0.1s ease-in .1s;
	}
	#accordian #shipping input[type="radio"]{
		outline:0;
	}
	#accordian #address input[type=checkbox]:checked:before {
		content: 'Ship To This Address';
		text-indent: 7px;
		margin-left: 50%;
		background:#80c0ff;
		border-radius:15px;
	}
	#accordian #shipping input[type=radio]:checked {
		box-shadow: inset 0px 0px 0px 20px #80c0ff;
	}
	#accordian #shipping input[type=radio]:after {
		content: '';
		position: absolute;
		width: 29px;
		height: 29px;
		border-radius: 15px;
		box-shadow: 0px 2px 2px 1px rgba(0,0,0,.2);
		cursor: pointer;
		background-color: #fff;
		transition: all 0.1s ease-in .1s;
	}
	#accordian #shipping input[type="radio"]:checked:after {
		left: 22px;
	}
	#accordian #shipping input[type=radio] {
		appearance: none;
		-webkit-appearance: none;
		box-shadow: inset 0px 0px 0px 1px #e6e6e6;
		border-radius: 15px;
		background-color: #fff;
		padding: 1px;
		display: inline-block;
		width: 52px;
		height: 31px;
		position: relative;
		cursor: pointer;
		transition: all .3s ease-out;
		margin: 0px;
		transform: scale(1);
		-webkit-transform: scale(1); /* Adjust size here */
	}
}

.have-account {
	float:right
}

.categoryH3 {
	margin-top: 0px;
	color: white;
}

.cart-margin-left {
	margin-left: 1em;
}
